---
- name: Install security packages
  ansible.builtin.apt:
    name:
      - fail2ban
      - ufw
      - unattended-upgrades
      - apt-listchanges
      - auditd
      - logwatch
      - rkhunter
      - cloud-init
    state: present

- name: Configure SSH hardening
  ansible.builtin.template:
    src: sshd_hardening.conf.j2
    dest: /etc/ssh/sshd_config.d/99-custom.conf
    mode: "0644"

- name: Configure sysctl hardening
  ansible.builtin.template:
    src: sysctl_hardening.conf.j2
    dest: /etc/sysctl.d/99-hardening.conf
    mode: "0644"

- name: Configure fail2ban
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    mode: "0644"

- name: Configure unattended-upgrades
  ansible.builtin.template:
    src: unattended-upgrades.j2
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    mode: "0644"

- name: Set UFW default incoming policy to deny
  community.general.ufw:
    default: deny
    direction: incoming

- name: Set UFW default outgoing policy to allow
  community.general.ufw:
    default: allow
    direction: outgoing

- name: Allow required ports in UFW
  community.general.ufw:
    rule: allow
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
  loop:
    - { port: "22", proto: tcp }
    - { port: "80", proto: tcp }
    - { port: "443", proto: tcp }
    - { port: "51820", proto: udp }
    - { port: "21820", proto: udp }

- name: Enable UFW
  community.general.ufw:
    state: enabled

- name: Enable security services
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: true
  loop:
    - fail2ban
    - auditd
    - ufw
