# Monica v4 cron service
[Unit]
Description=Monica v4 cron service

[Service]
Type=oneshot
WorkingDirectory={{ monica_v4_base_path }}

ExecStartPre=/usr/bin/curl {{ monica_v4_cron_healthcheck_url }}
ExecStart=docker compose -f {{ monica_v4_base_path }}/compose.yaml exec -T crm sh -c 'php artisan schedule:run'

[Install]
WantedBy=multi-user.target
