#
# WARNING: To install Immich, follow our guide: https://docs.immich.app/install/docker-compose
#
# Make sure to use the docker-compose.yml of the current release:
#
# https://github.com/immich-app/immich/releases/latest/download/docker-compose.yml
#
# The compose file on main may not be compatible with the latest release.
name: immich
services:
  immich-server:
    labels:
      - pangolin.public-resources.immich.name=Immich
      - pangolin.public-resources.immich.full-domain={{ immich_domain }}
      - pangolin.public-resources.immich.protocol=http
      - pangolin.public-resources.immich.targets[0].method=http
      - pangolin.public-resources.immich.targets[0].port=2283
      - pangolin.public-resources.immich.auth.sso-enabled=true
      - pangolin.public-resources.immich.healthcheck.hostname=immich
      - pangolin.public-resources.immich.healthcheck.port=2283
      - pangolin.public-resources.immich.healthcheck.enabled=true
      - pangolin.public-resources.immich.healthcheck.path=/
      - pangolin.public-resources.immich.healthcheck.interval=30
      - pangolin.public-resources.immich.healthcheck.timeout=5
      - pangolin.public-resources.immich.healthcheck.method=GET
      - pangolin.public-resources.immich.healthcheck.status=200
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:v2.4.1
    # extends:
    #   file: hwaccel.transcoding.yml
    #   service: cpu # set to one of [nvenc, quicksync, rkmpp, vaapi, vaapi-wsl] for accelerated transcoding
    volumes:
      # Do not edit the next line. If you want to change the media storage location on your system, edit the value of UPLOAD_LOCATION in the .env file
      - ${UPLOAD_LOCATION}:/data
      - /etc/localtime:/etc/localtime:ro
      - "{{ rclone_base_path }}/Common\ documents/Top\ nous/Photos/:/home/user/top_nous:ro" # Only rclone script can edit.
      - "{{ rclone_base_path }}/Shared/Photos/:/home/user/perso:ro" # Only rclone script can edit.
      - "{{ rclone_base_path }}/Shared/Camera/:/home/user/instant_uploads:ro" # Only rclone script can edit.
    env_file:
      - .env
    # ports:
    #   - '2283:2283'
    depends_on:
      - redis
      - database
    networks:
      - newt
      - immich
    restart: always
    healthcheck:
      disable: false

  immich-machine-learning:
    container_name: immich_machine_learning
    # For hardware acceleration, add one of -[armnn, cuda, rocm, openvino, rknn] to the image tag.
    # Example tag: ${IMMICH_VERSION:-release}-cuda
    image: ghcr.io/immich-app/immich-machine-learning:v2.4.1
    # extends: # uncomment this section for hardware acceleration - see https://docs.immich.app/features/ml-hardware-acceleration
    #   file: hwaccel.ml.yml
    #   service: cpu # set to one of [armnn, cuda, rocm, openvino, openvino-wsl, rknn] for accelerated inference - use the `-wsl` version for WSL2 where applicable
    volumes:
      - model-cache:/cache
    env_file:
      - .env
    networks:
      - immich
    restart: always
    healthcheck:
      disable: false

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:9@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always
    networks:
      - immich

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:16-vectorchord0.4.3-pgvectors0.2.0@sha256:1a078b237c1d9b420b0ee59147386b4aa60d3a07a8e6a402fc84a57e41b043a4
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
      # Uncomment the DB_STORAGE_TYPE: 'HDD' var if your database isn't stored on SSDs
      # DB_STORAGE_TYPE: 'HDD'
    volumes:
      # Do not edit the next line. If you want to change the database storage location on your system, edit the value of DB_DATA_LOCATION in the .env file
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data
    shm_size: 128mb
    restart: always
    networks:
      - immich

volumes:
  model-cache:

networks:
  immich:
  newt:
    external: true
