{
    "Servers": {
        "1": {
            "Name": "flip-planning",
            "Group": "Servers",
            "Host": "postgres",
            "Port": 5432,
            "MaintenanceDB": "{{ flip_planning_db_name }}",
            "Username": "{{ flip_planning_db_user }}",
            "SSLMode": "prefer"
        }
    }
}
