---
- name: Ensure RSS app folder exists
  loop:
    - "{{ rss_base_path }}"
    - "{{ rss_base_path }}/config"
  ansible.builtin.file:
    mode: "0755"
    path: "{{ item }}"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"

# - name: Add restic profile
#   tags: backup
#   ansible.builtin.blockinfile:
#     path: ~/.config/resticprofile/profiles.yaml
#     prepend_newline: true
#     block: "{{ lookup('ansible.builtin.template', 'templates/resticprofile.yaml') }}"
#     marker: "# {mark} rss ANSIBLE MANAGED"

- name: Template compose configuration
  notify: Restart rss service
  ansible.builtin.template:
    src: "templates/compose.yaml"
    dest: "{{ rss_base_path }}/compose.yaml"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"
    mode: "0644"

- name: Make sure rss service is running
  ansible.builtin.systemd:
    state: started
    daemon_reload: true
    name: dc@rss
    scope: user
    enabled: true
