---
services:
  freshrss:
    container_name: rss
    labels:
      - pangolin.public-resources.rss.name=RSS
      - pangolin.public-resources.rss.full-domain={{ rss_domain }}
      - pangolin.public-resources.rss.protocol=http
      - pangolin.public-resources.rss.targets[0].method=http
      - pangolin.public-resources.rss.targets[0].port=80
      - pangolin.public-resources.rss.auth.sso-enabled=true
      - pangolin.public-resources.rss.healthcheck.hostname=rss
      - pangolin.public-resources.rss.healthcheck.port=80
      - pangolin.public-resources.rss.healthcheck.enabled=true
      - pangolin.public-resources.rss.healthcheck.path=/
      - pangolin.public-resources.rss.healthcheck.interval=30
      - pangolin.public-resources.rss.healthcheck.timeout=5
      - pangolin.public-resources.rss.healthcheck.method=GET
      - pangolin.public-resources.rss.healthcheck.status=200
    image: freshrss/freshrss:1.28.1@sha256:9100f649f5c946f589f54cdb9be7a65996528f48f691ef90eb262a0e06e5a522
    environment:
      # Timezone configuration
      - TZ=Europe/Paris
      # Production mode
      - FRESHRSS_ENV=production
      # Automatic update cron (every 15 minutes)
      - CRON_MIN=*/15
    volumes:
      - ./freshrss_data:/var/www/FreshRSS/data
      - ./freshrss_extensions:/var/www/FreshRSS/extensions
    restart: unless-stopped
    networks:
      - newt

networks:
  newt:
    external: true
