use_default_settings: true

general:
  instance_name: "SearXNG"

search:
  safe_search: 1

server:
  base_url: "https://{{ searxng_domain }}/"
  limiter: false
  image_proxy: true
  secret_key: "{{ searxng_secret_key }}"
