# Base de données Postgres (pointant vers le Pi)
DB_HOSTNAME=192.168.1.96
DB_PORT=5432

# Redis (pointant vers le Pi)
REDIS_HOSTNAME=192.168.1.96
REDIS_PORT=6379

# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=Etc/CEST

# Connection secret for postgres. You should change it to a random password
# Please use only the characters `A-Za-z0-9`, without special characters or spaces
DB_PASSWORD=PASSWORD

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

# Pour forcer la remote à n'exécuter que les workers (exclut l'API)
IMMICH_WORKERS_EXCLUDE=api
