---
- name: Provision Pangolin Zero Trust base image
  hosts: all
  become: true

  vars:
    ufw_allowed_ports:
      - { port: "22", proto: tcp }
      - { port: "80", proto: tcp }
      - { port: "443", proto: tcp }
      - { port: "51820", proto: udp }
      - { port: "21820", proto: udp }
    docker_users:
      - "{{ ansible_user_id }}"
    # Disable Pangolin config deployment in Packer build
    # Configuration will be deployed via cloud-init or later via Ansible playbook
    deploy_pangolin_config: false

  roles:
    - role: geerlingguy.docker
    - role: security
    - role: pangolin
