---
- name: Install rclone
  become: true
  ansible.builtin.package:
    name: rclone
    state: present

- name: Ensure Rclone app folder exists
  become: true
  ansible.builtin.file:
    mode: "0700"
    path: "{{ rclone_base_path }}"
    state: directory
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ ansible_facts['user_gid'] }}"

- name: Template rclone script
  ansible.builtin.template:
    src: ./templates/rclone.sh.j2
    dest: "{{ photoprism_base_path }}/rclone.sh"
    group: "{{ ansible_facts['user_gid'] }}"
    owner: "{{ ansible_facts['user_uid'] }}"
    mode: "0744"

- name: Template rclone service
  ansible.builtin.template:
    src: ./templates/rclone.service.j2
    dest: "{{ ansible_facts['user_dir'] }}/.config/systemd/user/rclone.service"
    group: "{{ ansible_facts['user_gid'] }}"
    owner: "{{ ansible_facts['user_uid'] }}"
    mode: "0644"

- name: Template rclone config
  ansible.builtin.template:
    src: ./templates/rclone.conf.j2
    dest: "{{ ansible_facts['user_dir'] }}/.config/rclone/rclone.conf"
    group: "{{ ansible_facts['user_gid'] }}"
    owner: "{{ ansible_facts['user_uid'] }}"
    mode: "0600"

- name: Ensure systemd user directory exists
  become: true
  ansible.builtin.file:
    path: "{{ ansible_facts['user_dir'] }}/.config/systemd/user"
    state: directory
    mode: "0755"
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ ansible_facts['user_gid'] }}"

- name: Template rclone timer
  ansible.builtin.template:
    src: ./templates/rclone.timer.j2
    dest: "{{ ansible_facts['user_dir'] }}/.config/systemd/user/rclone.timer"
    group: "{{ ansible_facts['user_gid'] }}"
    owner: "{{ ansible_facts['user_uid'] }}"
    mode: "0644"

- name: Enable and start rclone timer
  ansible.builtin.systemd:
    state: started
    daemon_reload: true
    name: rclone.timer
    scope: user
    enabled: true
