services:

  db:
    image: lscr.io/linuxserver/mariadb:11.4.8
    container_name: davis_db
    networks:
      - davis
    env_file: .env
    environment:
      - PUID={{ ansible_facts['user_uid'] }}
      - PGID={{ ansible_facts['user_gid'] }}
      - TZ=Etc/UTC
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - ./database:/config

  davis:
    image: ghcr.io/tchapi/davis-standalone:5.3.0
    container_name: davis
    labels:
      - pangolin.public-resources.davis.name=Davis
      - pangolin.public-resources.davis.full-domain={{ davis_domain }}
      - pangolin.public-resources.davis.protocol=http
      - pangolin.public-resources.davis.targets[0].method=http
      - pangolin.public-resources.davis.targets[0].port=9000
      - pangolin.public-resources.davis.auth.sso-enabled=true
      - pangolin.public-resources.davis.rules[0].action=allow
      - pangolin.public-resources.davis.rules[0].match=path
      - pangolin.public-resources.davis.rules[0].value=/dav/*
      - pangolin.public-resources.davis.rules[1].action=allow
      - pangolin.public-resources.davis.rules[1].match=path
      - pangolin.public-resources.davis.rules[1].value=/.well-known/caldav
      - pangolin.public-resources.davis.rules[2].action=allow
      - pangolin.public-resources.davis.rules[2].match=path
      - pangolin.public-resources.davis.rules[2].value=/.well-known/carddav
    env_file: .env
    networks:
      - davis
      - newt
    environment:
      - DATABASE_DRIVER=mysql
      - DATABASE_URL=mysql://${DB_USER}:${DB_PASSWORD}@db:3306/${DB_DATABASE}?serverVersion=11.4.8-MariaDB&charset=utf8mb4
      - MAILER_DSN=smtp://${MAIL_USERNAME}:${MAIL_PASSWORD}@${MAIL_HOST}:${MAIL_PORT}
    depends_on:
      db:
        condition: service_started
      davis-standalone-init:
        condition: service_completed_successfully

  davis-standalone-init:
    image: ghcr.io/tchapi/davis-standalone:5.3.0
    container_name: davis_standalone_init
    networks:
      - davis
    env_file: .env
    environment:
      - DATABASE_DRIVER=mysql
      - DATABASE_URL=mysql://${DB_USER}:${DB_PASSWORD}@db:3306/${DB_DATABASE}?serverVersion=11.4.8-MariaDB&charset=utf8mb4
      - MAILER_DSN=smtp://${MAIL_USERNAME}:${MAIL_PASSWORD}@${MAIL_HOST}:${MAIL_PORT}
    depends_on:
      db:
        condition: service_started
    command: ["sh", "-c", "sleep 10 && bin/console doctrine:migrations:migrate --no-interaction"]
    restart: "no"

networks:
  davis:
  newt:
    external: true
