services:

  db:
    image: mariadb:10.11
    container_name: davis_db
    networks:
      - davis
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - database:/var/lib/mysql

  davis:
    image: ghcr.io/tchapi/davis-standalone:5.3.0
    container_name: davis
    labels:
      - pangolin.public-resources.davis.name=Davis
      - pangolin.public-resources.davis.full-domain={{ davis_domain }}
      - pangolin.public-resources.davis.protocol=http
      - pangolin.public-resources.davis.targets[0].method=http
      - pangolin.public-resources.davis.targets[0].port=9000
      - pangolin.public-resources.davis.auth.sso-enabled=false
    env_file: .env
    networks:
      - davis
      - newt
    environment:
      - DATABASE_DRIVER=mysql
      - DATABASE_URL=mysql://${DB_USER}:${DB_PASSWORD}@mysql:3306/${DB_DATABASE}?serverVersion=mariadb-10.6.10&charset=utf8mb4
      - MAILER_DSN=smtp://${MAIL_USERNAME}:${MAIL_PASSWORD}@${MAIL_HOST}:${MAIL_PORT}
    depends_on:
      - db

volumes:
  database:
    name: database

networks:
  davis:
  newt:
    external: true
