---
- name: Configure PI
  hosts: pi
  pre_tasks:
    # WARNING : You cannot override variables with this, make sure variable is not defined before.
    # Export your age key in environment
    # https://github.com/mozilla/sops/issues/933#issuecomment-1081228720
    - name: Load secrets variable into global namespace
      tags: always
      community.sops.load_vars:
        file: "{{ playbook_dir }}/secrets.sops.yaml"
        expressions: evaluate-on-load

  roles:
    - name: geerlingguy.docker
      become: true
      tags: setup
    - name: docker_service
      tags: setup
    - name: borgmatic
      tags: backup,setup
    - name: newt
      tags: newt,setup
    - role: photoprism
      tags: app,photoprism
    - role: immich
      tags: app,immich
