---
- name: Ensure docker service app folder exists
  become: true
  loop:
    - "{{ docker_base_path }}"
    - "{{ ansible_env.HOME }}/.config/systemd/user"
  ansible.builtin.file:
    path: "{{ item }}"
    mode: "0755"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_gid }}"

- name: Copy docker-compose systemd service
  notify: daemon reload
  ansible.builtin.template:
    src: ./templates/dc@.service.j2
    dest: ~/.config/systemd/user/dc@.service
    group: "{{ ansible_user_gid }}"
    owner: "{{ ansible_user_uid }}"
    mode: "0644"
