---
- name: Ensure docker service app folder exists
  become: true
  loop:
    - "{{ docker_base_path }}"
    - "{{ ansible_facts['env']['HOME'] }}/.config/systemd/user"
  ansible.builtin.file:
    path: "{{ item }}"
    mode: "0755"
    state: directory
    owner: "{{ ansible_facts['user_id'] }}"
    group: "{{ ansible_facts['user_gid'] }}"

- name: Copy docker-compose systemd service
  notify: Daemon reload
  ansible.builtin.template:
    src: ./templates/dc@.service.j2
    dest: ~/.config/systemd/user/dc@.service
    group: "{{ ansible_facts['user_gid'] }}"
    owner: "{{ ansible_facts['user_uid'] }}"
    mode: "0644"

- name: Enable lingering for user
  become: true
  ansible.builtin.file:
    path: "/var/lib/systemd/linger/{{ ansible_facts['user_id'] }}"
    state: touch
    mode: "0644"
    modification_time: preserve
    access_time: preserve

- name: Reset ssh connection to allow user changes to take effect
  ansible.builtin.meta: reset_connection
